@import url('https://fonts.googleapis.com/css2?family=Island+Moments&family=Lobster&family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color:  #e6e1e1;;
}

.continner{
    max-width: 1200px;
    margin: 0 auto;
    padding: 5px 60px;
}
.hilight-color{
    color: rgb(194, 32, 194);
}

/* nav  */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-manu{
    display: flex;
    align-items: center;
}
.nav-manu li{
    list-style: none;
    padding: 0px 10px;
}

.nav-manu a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;

}

.banner{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    padding: 0px 50px;
}
.banner-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.banner-left h1{
    font-size: 52px;
}
.banner-left p{
    font-size: 18px;
}
.spical-buttion{
    border: 0;
    background-image: linear-gradient(rgb(156, 13, 113),rgb(196, 20, 196));
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 7px 0 rgb(156, 24, 128);
    font-size: 18px;
    font-weight: 700;
    transition: width 1s ease 1s,height 1s,trasform 1s;
}

.spical-buttion:hover{
    width: 25%;
    height: 50px;
    transform: rotate(-3deg);

}
.spical-buttion:active{
    top: 5px;
    box-shadow:0 2px 0 rgb(156, 24, 128) ;
}
.fa-arrow-right .butt{
    color: rgb(245, 240, 240);
    font-size: 18px;
}
.banner-photo{
    display: flex;
    justify-content: flex-end;
}
.banner-photo img{
    width: 440px;
    height: 414px;
}
.banner-photo:hover img{
    transform: scale(-0.5) rotate(180deg);
    transition: transform 5s ease-in-out;

}
/* end to banner */

.seletion-title h1{
    text-align: center;
    font-size: 40px;

}

.middle{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    gap: 30px;
}
.right-position{
    display: flex;
    justify-content: flex-end;
}
.middles{
    width: 280px;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 30px 35px rgb(220, 240, 223);
    margin: 0 auto;
}
.middle-banner img{
    width: 100%;
}
.priz-band{
    font-size: 24px;
}
.middle-contain{
    font-size: 18px;
    color: #787885;;
}
.fa-star.fall{
    color: rgb(204, 106, 49);
}
.fa-star-half-alt.huf{
    color: rgb(204, 106, 49);
}
.middle-exit a{
    text-decoration: none;
    color: rgb(194, 32, 194);
    font-size: 16px;
    position: absolute;
    left: 1144px;    
}

/* exit middle  */
.contact-text{
    text-align: center;
}
.contact{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
}
.contact-left img{
    width: 100%;
}
.contact-left:hover{
transform: scale(.900);
transition: transform 4s ease-in-out;
}

.contact-right form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-contact{

    width: 65%;
    margin: 5px 0;
    font-size: 18px;
    border: 1px solid rgb(216, 58, 195);
   
}
hr{
    border: 1px solid rgb(241, 187, 239);
}

/* contact  */

.foot-text{
   
    text-align: center;
    background-color: black;
     color: white; 
}
.foot-text h1{
    font-size: 25px;
}
.fotter-icon{
   text-align: center;
   font-size: 25px;
   
}
/* ---------------------------rersponsive --------------------------------------------*/
@media (max-width:1200px) {
    .continner{
        width: 100%;
    }
    .middle{
        display: grid;
        grid-template-columns: 1fr 1fr;        
    }
    .banner{
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    .banner-photo{
        width: 100%;
    }
    .banner-photo img{
        width: 100%;
    }
}
@media (max-width:800px) {
   .nav-manu{
       display: none;
   } 
   .banner{
       display: grid;
       grid-template-columns: 1fr;
   }
   .banner-left h1{
       font-size: 25px;
       padding: 20px 0;
   }
   .middle,
   .contact,
   header{
       display: grid;
       grid-template-columns: 1fr;
   }
   header{
       display: flex;
       flex-direction: column;
       justify-content: center;
   }

}